﻿@using Newtonsoft.Json;
@model CustomerBaseCore.ModelsView.SupportFactVewModel

@{
    ViewBag.Title = "title";
    Layout = null;
    var selectSpace = Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
}

<style>

    .tdMainRow {
        padding: 0;
        background: cornsilk
    }

    /* для Bootstrap-multiselect - свойства кнопки  */
    .dropdown-toggle {
        min-width: 155px;
        text-align: left;
    }


    :hover.dt-button.btn-close-all {
        color: black;
    }

    :hover.dt-button.btn-open-all {
        color: black;
    }


    .Time {
        height: 29.78px;
        padding: 3px 1px 3px 1px;
        width: 70px;
        font-size: smaller;
    }

    .tdComment {
        background: white
    }

    td.comment-label {
        width: 50px;
        vertical-align: middle;
        font-size: smaller;
        font-weight: 600;
        font-family: 'Comic Sans MS';
    }

    textarea.comment {
        line-height: 1.3;
    }

    tbody.input {
        padding: 0;
        box-sizing: border-box;
    }

    .inputTask {
        width: 100%;
    }
</style>



@* Скрытые значения *@
@* Список задач (datalist) *@
<span hidden>
    @{ await Html.RenderPartialAsync("_SelectTaskParital", Model.TaskList); }
</span>


<input type="hidden" asp-for="Visit.Id" />

<div class="form-row align-items-center">
    @* Дата сопровождения *@
    <div class="col-auto">
        <div class="input-lable"><label asp-for="Visit.VistDate">Дата</label></div>
        <input type="date" asp-for="Visit.VistDate" required class="form-control form-control-sm mb-2 input-sf" style="padding: 3px; min-width: 155px" />
    </div>


    @* Объект сопровождения *@
    <div class="col-auto">
        <div class="input-group">
            <div class="input-lable input-group-prepend"><label asp-for="Visit.CustomerID">Объект</label></div>
            <select id="select-customers-list" class="selectpicker" required title="&nbsp"
                    data-live-search="true" data-width="fit" data-style="btn-sm mb-2"
                    data-parent-widthwindow=".modal-content" asp-for="Visit.CustomerID">
                @foreach (var item in Model.CustomersList)
                {
                <option value="@item.Id">@item.CustomerName</option>
                }
            </select>

            <div class="input-group-append">
                <button id="deselectAll" type="button" class="btn btn-sm clr-selected mb-2" tabindex="-1">&nbsp;</button>
            </div>
        </div>
    </div>


    @* Тип сопрвождения *@
    <div class="col-auto">
        <div class="input-lable"><label asp-for="Visit.VistiTypeID">Тип</label></div>
        <select id="selectVisitTypes" asp-for="Visit.VistiTypeID" required class="form-control form-control-sm mb-2 input-sf">
            <option value="-1">
                @selectSpace
            </option>
            @foreach (var vistType in Model.VisitTypeList)
            {
            <option value="@vistType.Id">@vistType.TypeName</option>
            }
        </select>
    </div>




    @* Исполнители *@
    <div class="col-auto">
        <div class="input-group">
            <div class="input-lable input-group-prepend"><label asp-for="Visitors">Исполнители</label></div>
            <select id="selectVisitors" class="selectpicker" required multiple title="&nbsp"
                    data-live-search="true" data-width="fit" data-style="btn-sm mb-2"
                    data-parent-widthwindow=".modal-content" asp-for="Visitors">
                @foreach (var item in Model.VisitorList)
                {
                    /* если IDVisitor входит в множество ID, у которых FIOShort
                    повторяются, то отображать полное ФИО */
                <option value="@item.Id" title="@(Model.DoubleFIOShortID.Any(e => e == item.Id) ? item.VisitorName : item.VisitorFIOShort)">@item.VisitorName</option>
                }
            </select>

            <div class="input-group-append">
                <button id="deselectAll" type="button" class="btn btn-sm clr-selected mb-2" tabindex="-1">&nbsp;</button>
            </div>
        </div>
    </div>

</div>

<hr />

@* Таблица "Выполненная работа" *@
<div>
    <table id="idTableJob" class="table table-hover compact" cellspacing="0" style="width: 100%;">
        <thead id="IdTHeadJob">
            <tr style="background: #f9cd48; border-color: black; color: black">
                <th width=30px></th>
                <th width=45px>T, с</th>
                <th width=45px>T, до</th>
                <th>Задача</th>
                <th width=15px></th>
            </tr>
        </thead>
        <tfoot>
            <tr style="background: #f9cd48; border-color: black;">
                <th colspan="5"></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var job in Model.CompletedJob)
            {
            <tr>
                <td>
                    <input type="hidden" class="hiddenId" value="@job.Id" />
                    <input type="hidden" class="hiddenTaskId" value="@job.TaskId" />
                    <input type="hidden" class="hiddenComment" value="@Html.Encode(job.Comment)" />
                </td>
                <td>
                    <input type="time" class="Time inputTimeFrom form-control form-control-sm" value="@(job.TimeFrom)" />
                </td>
                <td>
                    <input type="time" class="Time inputTimeTill form-control form-control-sm" value="@(job.TimeTill)" />
                </td>
                <td></td>
                <td></td>
            </tr>
            }

        </tbody>
    </table>

</div>




<script type="text/javascript">

    var $DTTableJob;

    @*
    /* Передача объекта из Model в объект JS */
    var test = @(Html.Raw(JsonConvert.SerializeObject(Model.VisitorList)));
    *@

    /* =================================================== */
    /*                       События                       */
    /* =================================================== */


    /* Событие на загрузку страницы */
    $(document).ready(function () {

        // Инициалзировать таблицу через DataTable
        $DTTableJob = InitSupportFactTable('#idTableJob');

        // При инициализации таблицы добавить input в ячейки таблицы
        $('#idTableJob tbody tr').each(function (trIdx) {
            FillRow($(this), true);
        });

        // Вызывать обработчики для $(document).ready(...) из общего файла site.js
        ParentDocumentReady();

        // If SupportFact is new protocol, then focus() mast be on field CustomersList
        if ($('#Visit_Id').val() == "-1")
            debugger;
            $('#select-customers-list').next('button.dropdown-toggle').focus();

     });











    // Even: clear input for "Задача" on click 'button.clr-selected'
    @* ------------------------------------------------------------------------------------------------------------------------------ *@
    $('#idTableJob tbody').on('click', 'button.clr-selected', function () {
        let $thisInputTask = $(this).parents('tr').find('.inputTask');
        $thisInputTask[0].value = "";
        $thisInputTask.trigger('change');
    });
    @* ------------------------------------------------------------------------------------------------------------------------------ *@












    // Событие на раскрытие - открытие/закрытие ячейки -  details-control
    @* ------------------------------------------------------------------------------------------------------------------------------ *@
    $('#idTableJob tbody').on('click', 'td.details-control', function () {
        var td = $(this);
        var tr = td.closest('tr');
        var row = $DTTableJob.row(tr);

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            var hiddenComment = td.find('.hiddenComment')[0];

            row.child(format(hiddenComment.value))
               .show();
            tr.addClass('shown');

            // Добавить класс к следующему элементу (<tr> который добавился) для последующего использвания
            tr.next().addClass('trComment');
            tr.next().find('td').addClass('tdComment');

            // Вызвать для добавлненого textarea (Комментария) событие 'input', для расчета высоты поля
            tr.next().find('.comment').trigger('input');

            // Удалить/Установить обработчик: изменение в поле раскрывающегося комментария
            $('.comment').unbind('change');
            $('.comment').change(function () {
                hiddenComment = $(this).parents('.trComment').prev().find('.hiddenComment')[0];

                // Записать значение из раскрывающегося комментария в соответствующий скрытый input (.hiddenComment)
                hiddenComment.value = $(this).val();
            });

            // Добавить обработку события на то, заполнено поле или нет
            SetBorderForValueHandler();

        }
    });
    @* ------------------------------------------------------------------------------------------------------------------------------ *@












    /* =================================================== */
    /*                       Функции                       */
    /* =================================================== */



    // Инициализация таблицы DataTable
    @* ------------------------------------------------------------------------------------------------------------------------------ *@
    function InitSupportFactTable(IDTable) {
        return $(IDTable).DataTable({
            "scrollY": "55vh", // vh - позволяет менять высоту в зависимости от размера окна
            "scrollCollapse": true,
            "display": "compact",
            "paging": false,
            "order": [1], // отменить сортировку - сортировать так, как выводить модель
            "tabIndex": -1,
            "dom": 'Blrt',
            @* dom: Валерий: последовательность отображения элементов:
                    первый сивол`l` - значит первым элементом при инициализации DataTables будет`{length}`
                     второй `r` - `{processing}` судя по документации. Хочешь пейджинг перед таблице поставь`p` перед `i`.
                     не хочешь пейджинг - вообще убери `p`.
                     Я: только не понял, почему "dom": 'lrtip' отключило поиск.
                     Валерий: потому что там нет символа `f`, который отвечает за поиск `f - filtering input` *@
            buttons: [
                {
                    /* Произвольные кнопки */
                    text: 'Добавить',
                    className: 'bt-add',
                    action: function (e, dt, node, config) {
                        var rowNode = dt.row.add(['', '', '', '', '']).draw().node();

                        // добавление Input в ячейки добавленной строки
                        FillRow($(rowNode), false);

                        // принудтельная сортировка
                        //table.order.fixed({
                        //    post: [ 0, 'asc' ]
                        //} );
                     }
                },
                {
                    // Open all closed comments
                    text: '&#9000;',
                    className: 'btn-open-all',
                    action: function (e, dt, node, config) {
                        // Найти все строки таблицы у которых нет класса .shown (т.е закрыты) и выполнить клик по ячейке .details-control
                        $('#idTableJob tr:not(.shown).trCompletedJob').find('td.details-control')
                            .each(function (trIdx) {
                                $(this).trigger('click');
                            });
                    }
                },
                {
                    // Close all opened comments
                    text: '----',
                    className: 'btn-close-all',
                    action: function (e, dt, node, config) {
                        // Найти все строки таблицы c классом .shown (расвернуты) и выполнить клик по ячейке .details-control
                        $('#idTableJob tr.shown').find('td.details-control')
                            .each(function (trIdx) {
                                $(this).trigger('click');
                            });
                    }
                }
            ],
        });
    };
    @* ------------------------------------------------------------------------------------------------------------------------------ *@










    // Добавить input в ячейки, при добавлении новой строки таблицы
    @* ------------------------------------------------------------------------------------------------------------------------------ *@
    function FillRow(rowNode, isOnLoadSupportFact) {

        var maxTimeTill = '';

        /* Получить признак, новая добавляетя строка или уже существующая */
        let isNewRow =
            rowNode.find('.hiddenId').attr("value");

        if (isNewRow == "-1" || !isNewRow)
            isNewRow = true;
        else
            isNewRow = false;

        if (isNewRow) {
            // Получить максималное время "Окончание" для последующей его вставки во время "начало"
            $('.trCompletedJob').each(function (trIdx) {
                // для каждой строки в таблице - перебор ячеек
                $(this).find('td').each(function (tdIdx) {
                    // Запомнить максимальное время "Окончание" для последующей вставки в "Начало"
                    if (tdIdx == 2) {
                        var inputFind = $(this).find('input'); // получить значение input заключенное между <td>...</td>
                        var value = '';
                        if (inputFind.length != 0) {
                            value = inputFind[0].value

                            if (value != '' && maxTimeTill < value)
                                maxTimeTill = value;
                        }
                        return; // выйти из принудительно цикла
                    }
                });
            });
        }

        rowNode.addClass('trCompletedJob');

        // Проход по ячейкам добавленной строки
        let taskId;
        rowNode.find('td').each(function (trIdx) {
                var htmlTxt = '';

                $(this).addClass('tdMainRow');

                switch (trIdx) {
                    case 0: // The cell for show/hide row comments
                        $(this).addClass('details-control');

                        let jobId = $(this).find('.hiddenId').attr("value");
                        if (!jobId)
                            jobId = "-1";

                        taskId = $(this).find('.hiddenTaskId').attr("value");
                        if (!taskId)
                            taskId = "-1";

                        let comment = $(this).find('.hiddenComment').attr("value");
                        if (!comment)
                            comment = "";

                        htmlTxt =
                            '<input type="hidden" class="hiddenId" value="' + jobId + '" />' +
                            '<input type="hidden" class="hiddenTaskId" value="' + taskId + '" />' +
                            '<input type="hidden" class="hiddenComment" value = "' + comment + '" />';
                        break;
                    case 1: // timeFrom cell
                        let timeFrom = "";

                        if (isNewRow)
                            timeFrom = maxTimeTill;
                        else
                            timeFrom = $(this).find('.inputTimeFrom').attr("value");

                        htmlTxt = htmlTxt +
                            '<input type="time" class="Time inputTimeFrom form-control form-control-sm" style="min-width: inherit" value="' + timeFrom + '"/>';
                        break;
                    case 2: // timeTill cell
                        let timeTill = "";

                        if (!isNewRow)
                            timeTill = $(this).find('.inputTimeTill').attr("value");

                        htmlTxt = '<input type="time" class="Time inputTimeTill form-control form-control-sm" style="min-width: inherit" value="' + timeTill + '" />';
                        break;
                    case 3: // Task cell
                        let listName = "datalistTasks";
                        let $list = $("#" + listName);
                        let taskName = "";

                        if (!isNewRow)
                            taskName = $list.find('option[data-id="' + taskId + '"]').attr("value");
                        htmlTxt =
                            '<div class="input-group">' +
                            '  <div class="input-group-prepend">' +
                            '    <button type="button" class="btn btn-sm clr-selected" tabindex="-1">&nbsp;</button>' +
                            '  </div>';

                        htmlTxt = htmlTxt +
                            '  <input type="text" class="inputTask form-control form-control-sm input-sf" style="min-width: inherit" list="' + listName + '" value = "' + taskName + '" /> ' +
                            '</div>';
                        break;
                    case 4: // cell for button "delete row"
                        $(this).addClass('delRow');

                        // Set handler: on click - to delete row
                        $(this).on('click', function () {
                            let $thisRow = $(this).parents('tr');
                            let jobId = $thisRow.find('.hiddenId')[0].value;
                            let timeFrom = $thisRow.find('.Time')[0].value;
                            let timeTill = $thisRow.find('.Time')[1].value;
                            let taskValue = $thisRow.find('.inputTask')[0].value;

                            swal({
                                title: "Вы действительно хотите удалить запись?",
                                text: '[' + timeFrom + '-' + timeTill + '] "' + taskValue + '"',
                                icon: "warning",
                                buttons: ["Отмена", true],
                                dangerMode: true,
                                closeOnClickOutside: false
                            })
                                .then((willDelete) => {
                                    if (willDelete) {
                                        $DTTableJob.row($thisRow).remove().draw();
                                    }
                                });
                            //if (confirm(confirmText))
                            //
                        });
                        break;

                }

                // сформировать текст Html
                $(this).html(htmlTxt);


                //  Т.к DOM изменился при добавлении новой строки: очищается и повторно назначается событие
                //  Удаления обработчиков событий change для input class=inputTask
                $('.inputTask').unbind('change');

                // Повторно установить обработчик событию
                $('.inputTask').change(function () {

                    let $this = $(this);

                    // Получить наименование datalist через атрибут list для текущего input
                    let $list = $("#" + $this.attr("list"));

                    // Получить attrDataId из значения атрибута data-id из dataList по выбранному наименованию
                    let attrDataId = $list.find('option[value="' + $this.val() + '"]').attr("data-id");
                    if (!attrDataId) {
                        if ($this.val() != "")
                            swal({
                                title: "В справочнике не найдено соответствия!",
                                text: '"' + $this.val() + '"',
                                icon: "error",
                                closeOnClickOutside: false
                            });
                        $this.css({"backgroundColor": "coral", "color": "white"});
                        $this.focus();
                    }
                    else
                        $this.css({ "backgroundColor": "white", "color": "black"});

                    // Присвоить attrDataId атрибуту data-id в соответствующем Input
                    $this.attr("data-id", attrDataId);

                    // Присвоить attrDataId скрытому <input class="hiddenTaskId" ...>
                    let hiddenTaskId = $(this).parents('.trCompletedJob').find('.hiddenTaskId')[0];
                    hiddenTaskId.value = attrDataId;

                });

         });


        // Установить курсор в ячейку ("Окончание")
        var focusOn = maxTimeTill == '' ? 0 : 1;

        rowNode.find('.Time')[focusOn].focus();


        // Вызвать событие пр добавлении новой строки:
        if (isNewRow)
            rowNode.find('.details-control').trigger('click');

        // Если строки инициализируются на момент открытия окна "Факт сопровождения"
        if (isOnLoadSupportFact & !isNewRow)
            ExpandTaskCommentExceptRoad(rowNode);



    }
    @* ------------------------------------------------------------------------------------------------------------------------------ *@




    /* развернуть "Коментарий" исключая "Дорога" (если в "Дорога" не пустой комментарий тоже развернуть)  */
    @* ------------------------------------------------------------------------------------------------------------------------------ *@
    function ExpandTaskCommentExceptRoad(rowNode) {
        let valTask = "";
        let comment = "";

        valTask = rowNode.find('.inputTask')[0].value.toUpperCase();
        comment = rowNode.find('.hiddenComment')[0].value;

        if ((!valTask.includes("ДОРОГА")) ||
            (valTask.includes("ДОРОГА") & comment.trim() != ""))
        {
                rowNode.find('.details-control').trigger('click');
        }

    }
    @* ------------------------------------------------------------------------------------------------------------------------------ *@






    /* Произвести индексацию (переиндексации) input...name=CompletedJob[i].param для Model Binding */
    @* ------------------------------------------------------------------------------------------------------------------------------ *@
    function ReindexRowsCompletedJob() {
        var i = 0;

        $('.trCompletedJob').each(function (trIdx) {
            /* Индексация name для последующего Model Binding */
            $(this).find('.hiddenId').attr('name', 'CompletedJob[' + i + '].Id');
            $(this).find('.hiddenComment').attr('name', 'CompletedJob[' + i + '].Comment');
            $(this).find('.hiddenTaskId').attr('name', 'CompletedJob[' + i + '].TaskId');
            $(this).find('.inputTimeFrom').attr('name', 'CompletedJob[' + i + '].TimeFrom');
            $(this).find('.inputTimeTill').attr('name', 'CompletedJob[' + i + '].TimeTill');
            i++;
        });
    }
    @* ------------------------------------------------------------------------------------------------------------------------------ *@








    /* Formatting function for row details  */
    @* ------------------------------------------------------------------------------------------------------------------------------ *@
        function format(d) {
            // 'd' is the original data object for the row
            return '<table cellpadding="1" cellspacing="0" border="0" style="padding-left:50px; width: 100%; background: white">' +
                '<tr style="border-top: 2px solid white;">' +
                '<td class="comment-label">Комментарий:</td>' +
                '<td> <textarea class="comment form-control val-no-border" rows="1" ' +
                'oninput=\'this.style.height = ""; this.style.height = (this.scrollHeight + 3) + "px"\' ' +
                'style="width: 100%; padding: 0px; box-sizing: border-box; color:Maroon; ">' + d + '</textarea ></td>' +
                '</tr>' +
                '</table>';
        }
    @* ------------------------------------------------------------------------------------------------------------------------------ *@


</script>
