﻿@model IEnumerable<CustomerBaseCore.Models.Customers>
@{
    ViewData["Title"] = "Список объектов";
}


<h3>Список объектов</h3>
<table border="1" cellspacing="0">
    <tr style="background: bisque">
        <th>ID</th>
        <th>Название</th>
        <th width="30%">Адрес</th>
        <th width="30%">Дополнительная информация</th>
        <th>Информация о кураторе</th>

    </tr>

    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.CustomerName</td>
            <td>@customer.Address</td>
            <td>@customer.AdditionalInfo</td>
            <td>
                @if (customer.CuratorId != -1)
                {
                    <span>
                        <b>@customer.Visitors.VisitorName</b> (@customer.CuratorId)<br>
                        Должность: @customer.Visitors.VisitorPosition<br>
                        Контактные данные: <font color="blue">@customer.Visitors.VisitorContact</font>
                    </span>
                }
            </td>


        </tr>
    }
</table>