﻿<style>
    .btn.btn-success {
        margin: 10px 0px 10px 0px;
    }

    .container-realise {
        margin-top: 30px;
    }
</style>



<div class="container-fluid">
    <h1 style="font-family: 'Comic Sans MS';">Что нового?</h1>
    <p />

    @* ===   Релиз 1.0.2   === *@
    <div class="container-fluid container-realise">
        <a class="release" rel-version="1.0.2" rel-date="03.10.2019"></a>
        <div class="collapse">
            @* Общее *@
            <div class="header">Общее</div>
            <ol>
                <li class="rel-fix-new" data-bugId="55" data-date="21.10.2019">
                    <b>Добавлена страничка "Что нового"</b>, на которой будут отображаться изменения для приложения CustomerBase.
                    <b>Ссылка</b> на нее доступна, как на <b>главной странице</b>, так и в <b>меню навигации</b>.
                </li>
            </ol>

            @* Whatsnew *@
            <div class="header">Whatsnew</div>
            <ol>
                <li class="rel-fix-new" data-bugId="55" data-date="21.10.2019">
                    Реализованы следующие возможности:
                    <ul>
                        <li>
                            <b>Для каждого релиза</b>:
                            <ul>
                                <li>Можно свернуть/развернуть. По умолчанию два самых свежих релиза развернуты, остальные - свернуты</li>
                                <li>Отображение даты выхода.</li>
                                <li>Автоматический подсчет количества изменений в релизе</li>
                                <li>Добавлены заголовки, которые группируют изменения в зависимости от подсистемы.</li>
                            </ul>
                            <b>Для каждого изменения в релизе</b>:
                            <ul>
                                <li>
                                    Цветные пиктограммы:
                                    <b><samp>[+]</samp></b> - новый функционал;
                                    <b><samp>[x]</samp></b> - исправлена ошибка;
                                    <b><samp>[-]</samp></b> - упраздненный функционал.
                                </li>
                                <li>
                                    Цветные пиктограммы:
                                    <span class="rel-fix-age3"></span> - давность: <b>1-3 дня</b>;
                                    <span class="rel-fix-age7"></span> - давность: <b>4-7 дней</b>;
                                    <span class="rel-fix-age15"></span> - давность: <b>8-15 дней</b>;
                                    <span class="rel-fix-age31"></span> - давность: <b>16-31 дней</b>;
                                </li>
                                <li>
                                    Ссылка на соответствующую страницу изменения в GitLab
                                    (переход по ссылке доступен только для пользователей GitLab c разрешенным доступом к проекту)
                                </li>
                                <li>Отображение даты изменения.</li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="rel-fix-new" data-bugId="64" data-date="21.11.2019">
                    Для <b>пиктограммы "Давность"</b> добавлена <b>всплывающая подсказка</b>: "давность: 1-3 дней
                </li>

            </ol>

            @* Факт сопровождения *@
            <div class="header">Факт сопровождения</div>
            <ol>
                <li class="rel-fix-new" data-bugId="63" data-date="25.11.2019">
                    При создании <b>нового протокола</b>, по умолчанию <b>позиционирование</b> происходит <b>в поле "Объект"</b>.
                </li>
                <li class="rel-fix-rem" data-bugId="65" data-date="22.11.2019">
                    <b>Убрана табуляция</b> для элементов: кнопка "Очистить", заголовок таблицы, кнопки таблицы.<br>
                    Теперь табуляция работает только для полей, в которые необходимо вносить информацию.
                </li>
            </ol>


            @* Отчет о проделанной работе *@
            <div class="header">Отчет о проделанной работе</div>
            <ol>
                <li class="rel-fix-err" data-bugId="62" data-date="26.11.2019">
                    Восстановлено: В описании для каждой задачи исчез перенос строки.
                </li>
                <li class="rel-fix-new" data-bugId="45" data-date="10.10.2019">
                    <b>В фильтры запроса добавлен признак "без учета времени"</b>.
                    Его активация <b>скрывает отображение времени</b> [10:00 - 11:00] для каждой задачи.<br>
                    При этом, если <b>отредактировать</b> протокол <b>"Факт сопровождения"</b> (или создать новый),
                    то для таких случаев в соответствующей строке <b>время будет отображаться</b> не смотря на признак "без учета времени".
                </li>
                <li class="rel-fix-new" data-bugId="50" data-date="03.10.2019">
                    Теперь протокол <b>"Факт сопровождения"</b> можно открывать для <b>редактирования двойным щелчком мыши</b> (продублировано действие кнопки "Редактировать")
                </li>
            </ol>

            @* Programming *@
            <div class="header">Programming</div>
            <ol>
                <li class="rel-fix-new" data-bugId="68" data-date="25.11.2019">
                    Протокол <b>"Отчет о проделанной работе"</b>. Для <b>поля "Объект"</b> осуществлен переход на <b>компонент "bootstrap-select"</b>
                </li>
                <li class="rel-fix-new" data-bugId="67" data-date="25.11.2019">
                    Протокол <b>"Факт сопровождения"</b>. Для <b>поля "Объект"</b> осуществлен переход на <b>компонент "bootstrap-select"</b>
                </li>
                <li class="rel-fix-new" data-bugId="58" data-date="21.11.2019">
                    Осуществлен <b>переход</b> фреймворка <b>Bootstrap с версии 3 на версию 4</b> (фреймворк визуального оформления страницы)
                </li>
                <li class="rel-fix-new" data-bugId="56" data-date="21.11.2019">
                    <b>Факт сопровождения</b>. Поле <b>"Исполнитель"</b>. Осуществлен переход с текущего "multiselect" на <b>Bootstrap 4 - select</b> dropdown
                </li>
            </ol>
        </div>
    </div>



    @* ===   Релиз 1.0.1   === *@
    <div class="container-fluid container-realise">
        <a class="release" rel-version="1.0.1" rel-date="01.09.2019"></a>
        <div class="collapse">
            @* Общее *@
            <div class="header">Общее</div>
            <ol>
                <li class="rel-fix-new" data-bugId="51" data-date="25.09.2019">
                    Окна <b>сообщений (SweetAlert)</b> ранее можно было <b>закрыть</b> кликом за рамками окна,
                    теперь - только нажав <b>&ltEsc&gt</b> или кнопку <b>"OK"</b>.
                </li>
                <li class="rel-fix-new" data-bugId="26" data-date="12.09.2019">
                    На сайте: <a href="http://80.94.162.76/" target="_blank">http://80.94.162.76/</a> (<a href="http://itk-76.bas-net.by/" target="_blank">http://itk-76.bas-net.by/</a>)
                    <b>дабвлена иконка "Домо-кун"</b>, которая ссылается <b>на проект "CustomerBase"</b>
                </li>
                <li class="rel-fix-err" data-bugId="19" data-date="06.09.2019">
                    Исправлено: При публикации проекта <b>не подгружались иконки.</b>
                </li>
                <li class="rel-fix-new" data-bugId="18" data-date="05.09.2019">
                    Теперь страница <b>"Отчет о проделанной работе" стала стартовой</b>. Раньше стартовой была "Главная страница"
                </li>
                <li class="rel-fix-new" data-bugId="14" data-date="04.09.2019">
                    Стандартные сообщения об ошибках (предупреждения) были заменены на "красивые": <b>внедрен фреймворк  "SweetAlert"</b>
                </li>
            </ol>

            @* Отчет о проделанной работе *@
            <div class="header">Отчет о проделанной работе</div>
            <ol>
                <li class="rel-fix-new" data-bugId="33" data-date="17.09.2019">
                    <b>Сортировка</b> таблицы по умолчанию:<br>
                    <b>1</b> - первая колонка <b>по дате (по убыванию)</b>;<br>
                    <b>2</b> - вторая колонка <b>по времени (по возрастанию)</b>
                </li>
                <li class="rel-fix-err" data-bugId="32" data-date="17.09.2019">
                    Исправлено: Ранее, если в критериях запроса выбрался не валидный период (даты совпадают или дата ДО меньше С),
                    то возникала ошибка:<br> <font color="red">"HTTP ERROR 500"</font>
                </li>
                <li class="rel-fix-err" data-bugId="30" data-date="17.09.2019">
                    Исправлено: <b>При экспорте</b> (печать, excel, PDF, буфер) теперь <b>автоматически снимается выделение строки</b> (если оно было).
                    В противном случае экспортировалась только выделенная строка
                </li>
                <li class="rel-fix-err" data-bugId="31" data-date="16.09.2019">
                    Исправлено: <b>При экспорте</b> (печать, excel, PDF, буфер) ранее значение <b>"Дата" отображалась два раза</b>
                </li>
                <li class="rel-fix-err" data-bugId="23" data-date="09.09.2019">
                    Исправлено: Попытка редактировать (<b>кнопка "Редактировать"</b>) протокол <b>"Факт сопровождения"</b>,
                    у которого есть только <b>одна задача "Дорога"</b>
                    с незаполненным комментарием, приводила к его <b>зависанию</b>. Отображалось только слово <b>"Загрузка"</b>.
                </li>
                <li class="rel-fix-new" data-bugId="22" data-date="09.09.2019">
                    В графе "Выполненная работа" теперь для каждой задачи вместо "---" <b>пишется время [01:00 - 05:00]</b>
                </li>
                <li class="rel-fix-err" data-bugId="20" data-date="09.09.2019">
                    Исправлено: Не корректно работала <b>сортировка по дате</b> (первый столбец)
                </li>
            </ol>

            @* Факт сопровождения *@
            <div class="header">Факт сопровождения</div>
            <ol>
                <li class="rel-fix-rem" data-bugId="54" data-date="03.10.2019">
                    Для повышения читабельности информации на протоколе <b>убрано выделение поля "Комментарий"</b>
                    (ранее выделялось зеленой рамкой, если было заполненным).
                </li>
                <li class="rel-fix-err" data-bugId="53" data-date="26.09.2019">
                    Исправлено: <b>при закрытии окна, очищается его содержимое</b>. Ранее при открытии для редактирования другого протокола,
                    кратковременно отображалась информация из предыдущего.
                </li>
                <li class="rel-fix-new" data-bugId="47" data-date="25.09.2019">
                    Реализовано: при открытии сохраненного протокола <b>все комментарии</b> отображаются <b>развернутыми</b>,
                    кроме комментария <b>"Дорога..."</b> (по умолчаню - <b>свернут</b>, если пустой)
                </li>
                <li class="rel-fix-new" data-bugId="41" data-date="24.09.2019">
                    Реализована возможность <b>перетаскивания окна</b> в рамках браузера (<b>Drag&Drop</b>).
                </li>
                <li class="rel-fix-err" data-bugId="46" data-date="23.09.2019">
                    Исправлено: При попытке открыть протокол, в котором встречался <b>комментарий</b> с длинной текста <b>более 255 символов</b>, возникало зависание.
                </li>
                <li class="rel-fix-err" data-bugId="24" data-date="12.09.2019">
                    Исправлено: Если в тексте комментария <b>встречался символ '</b>, то сохранение протокола приводило к ошибке:<br>
                    <font color="red"> Dynamic SQL Error. SQL error code=-104. Unexepted end of command...</font>
                </li>
                <li class="rel-fix-err" data-bugId="21" data-date="09.09.2019">
                    Исправлено: При сохранении протокола <b>с пустым комментарием</b> возникала ошибка:<br>
                    <font color="red">Dynamic SQL Error SQL error code = -104 Token unknown - line 2</font>
                </li>
            </ol>

            @* Programming *@
            <div class="header">Programming</div>
            <ol>
                <li class="rel-fix-new" data-bugId="44" data-date="23.09.2019">
                    ExtensionMethods.cs : InputDataListHelper. Реализована проверка "Name", без учёта регистра.
                </li>
            </ol>

        </div>
    </div>




    @* ===   Релиз 1.0.0   === *@
    <div class="container-fluid container-realise">
        <a class="release" rel-version="1.0.0" rel-date="01.08.2019"></a>
        <div class="collapse">
            @* Общее *@
            <div class="header">Общее</div>
            <ol>
                <li class="rel-fix-new" data-date="01.08.2019">
                    <font color="blue">ОПУБЛИКОВАНА <b>ПЕРВАЯ ВЕРСИЯ ПРИЛОЖЕНИЯ CUSTOMERBASE</b> С ФУНКЦИОНАЛОМ</font>:
                    <ul>
                        <li><b>Главная страница</b></li>
                        <li>
                            <b>Отчет о проделанной работе</b>:
                            <ul>
                                <li>Запрос по ФИО, Объекту, Периоду</li>
                                <li>Сортировка результатов запроса</li>
                                <li>
                                    Дополнительная фильтрация в подножии таблицы.
                                    Фильтровать можно не только по одному вхождению, но и по нескольким одновременно, указывая критерии через пробел.<br>
                                    <u>Например</u>: <i>"варавв мгкод пн"</i>. Найдет строки, у которых данном столбце встречается одновременно все указанные значения.
                                </li>
                                <li>Добавление/Редактирование/Удаление протокола "Факт сопровождения"</li>
                                <li>Подсчет общего количества записей и записей удовлетворяющих условиям фильтра (в подножии таблицы)</li>
                                <li>Экспорт данных таблицы в: Excel, PDF, Буфер обмена, Печать</li>
                            </ul>
                        </li>
                        <li>
                            <b>Факт сопровождения</b>:
                            <ul>
                                <li>Главные поля: Дата, Объект, Тип, Исполнители (множественный выбор)</li>
                                <li>
                                    Добавление новых строк с полями: Время С/До, Задача, Комментарий.
                                    При добавлении новой строки, время "С" берется равным времени "До" из предыдущей строки.
                                </li>
                                <li>Автоподстройка высоты поля "Комментарий", во время заполнения данных</li>
                                <li>Возможность скрытия/открытия отображения строки "Комментарий" как для каждой задачи, так и для всего протокола</li>

                            </ul>
                        </li>
                        <li><b>Список объектов</b></li>
                        <li>Поля, которые заполняютя через контекстный поиск, можно <b>очищать кнопкой с "огоньком"</b></li>
                    </ul>
                </li>
                <li class="rel-fix-new" data-date="03.08.2019" data-bugId="13">
                    Для полей у которых предполагается ввод данных. <b>Если поле заполнено, то границы выделяются зеленым цветом</b>, если нет: цвет границы <b>"бледно серый"</b>.
                </li>
            </ol>

            @* Факт сопровождения *@
            <div class="header">Факт сопровождения</div>
            <ol>
                <li class="rel-fix-rem" data-date="01.08.2019" data-bugId="12">
                    На протоколе <b>убрана общая кнопка "Удалить"</b>.
                </li>
                <li class="rel-fix-new" data-date="01.08.2019" data-bugId="12">
                    На протоколе, для каждой строки в таблице <b>добавлена иконка "Удалить"</b>:
                </li>

            </ol>

        </div>
    </div>




</div>
<div style="height: 150px">

</div>










<script>
    var gitAddress = "https://gitlab.com/narynkevich/customerbasecore/issues/";

    /* Событие на загрузку страницы */
    $(document).ready(function () {

        /* для каждого элемента в списке (описания изменения) */
        $('li[class^="rel-fix"]').each(function () {
            let attrBugId = $(this).attr('data-bugId');
            let attrDate = $(this).attr('data-date');
            let appendContent = '';

            // В конец описания добавить сылку на bug
            if (attrBugId)
                appendContent = appendContent + '<a target="_blank" href="' + gitAddress + attrBugId + '">#' + attrBugId + '</a>';

            if (attrDate) {
                // в конец описания добавить дату
                appendContent = appendContent + ' <span style="font-size: x-small; color: brown;">' + attrDate + '</span>';

                // посчитать количество дней относительно указанной даты и сегодня
                let day = Number.parseInt(attrDate.substring(0, 2));
                let month = Number.parseInt(attrDate.substring(3, 5)) - 1;
                let year = Number.parseInt(attrDate.substring(6, 10));
                let dateBug = new Date(year, month, day);
                if (dateBug) {
                    let now = new Date();
                    now.setHours(0, 0, 0, 0);
                    let days = Math.ceil(Math.abs(now.getTime() - dateBug.getTime()) / (1000 * 3600 * 24));

                    let prependContent = '';
                    if (days <= 31)
                        prependContent = ' <span class="rel-fix-age31"> </span>';
                    if (days <= 15)
                        prependContent = ' <span class="rel-fix-age15"> </span>';
                    //styleTillDays = { "background-color": "Lavender" };
                    if (days <= 7)
                        prependContent = ' <span class="rel-fix-age7"> </span>';
                    //                        styleTillDays = { "background-color": "LightGreen" };
                    if (days <= 3)
                        prependContent = ' <span class="rel-fix-age3"> </span>';
                    //                        styleTillDays = { "background-color": "SpringGreen" };

                    if (prependContent)
                        $(this).prepend(prependContent);
                }
            }

            if (attrBugId || attrDate)
                $(this).append('(' + appendContent.trim() + ')');
        });


        // Добавить для релиза:
        $('a.release').each(function () {
            // Добавить классы
            $(this).addClass('btn btn-warning btn-block');

            // Добавить атрибуты
            let relVersion = $(this).attr('rel-version');
            if (relVersion) {
                let versionID = relVersion.replace(".", "_").replace(".", "_");
                $(this).attr('href', '#collapse' + versionID);
                $(this).attr('aria-controls', 'collapse' + versionID);

                // Добавить для сделующего div (collapse) соответствующий id
                let $collapse = $(this).next('.collapse:first');
                $collapse.attr('id', 'collapse' + versionID);
            }

            $(this).attr('data-toggle', 'collapse');
            $(this).attr('role', 'button');
            $(this).attr('aria-expanded', 'true');

            // Добавить стили
            $(this).css({ 'font-size': 'x-large', 'text-align': 'left' });

            // Добавить содержимое
            let relDate = $(this).attr('rel-date');
            if (!relVersion)
                relVersion = '?.?.?';
            if (!relDate)
                relDate = '--.--.----';
            let changesCnt = $(this).next('div:first').find('li[class^="rel-fix"]').length; // Количество изменений в релизе
            $(this).append('Релиз ' + relVersion + ' <span style="font-size:small">' +
                relDate + ' (изменений: <b>' + changesCnt + '</b>)</span>');
        });

        // Два последних релиза (два первые сверху) - развернуть
        let i = 0;
        $('a.release + .collapse').each(function () {  @* Первый правый сосед  *@
            i++;
            $(this).addClass('show');
            if (i == 2)
                return false;
        });

        // "Расскрасить" заголовки
        $('.header').each(function () {
            $(this).addClass('container-fluid');
            let content = $(this).html();
            $(this).html('<div class="btn btn-success">' + content + '</div>');


        });
    });

</script>
