﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/images/gam-gam.ico" type="image/x-icon">

    @*<environment include="Development">*@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/DataTables/datatables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-select-1.13.9/dist/css/bootstrap-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chippy-checkbox.css" asp-append-version="true" />

    @*</environment>*@
    @*<environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="https://raw.githubusercontent.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
                  asp-fallback-href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"
                  asp-fallback-href="~/lib/DataTables/datatables.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>

<body>
    @*<environment include="Development">*@
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-select-1.13.9/dist/js/bootstrap-select.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/datatables.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/Select-1.2.6/js/dataTables.select.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/Buttons-1.5.4/js/dataTables.buttons.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/JSZip-2.5.0/jszip.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/pdfmake-0.1.36/pdfmake.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/pdfmake-0.1.36/vfs_fonts.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/Buttons-1.5.4/js/buttons.html5.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/Buttons-1.5.4/js/buttons.print.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/draggable-modal.js" asp-append-version="true"></script>

    @*</environment>*@

    @*<environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="https://raw.githubusercontent.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
                    asp-fallback-src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"
                    asp-fallback-src="~/lib/DataTables/datatables.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous">
            </script>
            <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"
                    asp-fallback-src="~/lib/DataTables/dataTables.editor.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"
                    asp-fallback-src="~/lib/DataTables/Select-1.2.6/js/dataTables.select.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"
                    asp-fallback-src="~/lib/DataTables/Buttons-1.5.4/js/dataTables.buttons.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
                    asp-fallback-src="~/lib/DataTables/JSZip-2.5.0/jszip.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"
                    asp-fallback-src="~/lib/DataTables/pdfmake-0.1.36/pdfmake.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"
                    asp-fallback-src="~/lib/DataTables/pdfmake-0.1.36/vfs_fonts.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"
                    asp-fallback-src="~/lib/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js"
                    asp-fallback-src="~/lib/DataTables/Buttons-1.5.4/js/buttons.print.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous">
            </script>

            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"
                    asp-fallback-src="~/lib/sweetalert/sweetalert.min.js"
                    crossorigin="anonymous">

            </script>



            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


    @RenderSection("Scripts", required: false)

    <!--меню-->
    @*background-color: #FFE4B5;*@
    <nav class="navbar navbar-expand-sm navbar-light">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
            Главная
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-controller="Reports" asp-action="DoneWork" class="nav-link">Отчет</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a asp-controller="whatsnew" asp-action="" class="nav-link align-content-end">Что нового?</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">

        @RenderBody()

        <hr id="hrDone" />
        <footer>
            <small>&copy; 2019 - CustomerBaseCore @(System.Reflection.Assembly.GetEntryAssembly().GetName().Version) </small>
        </footer>
    </div>

</body>
</html>
