﻿@model IList<DoneWorkRow>
@{
    DateTime tmpVisitDate = DateTime.MinValue;

    foreach (var row in Model)
    {
        <tr data-visitId="@row.VisitId">
            <td>
                <b>@row.VisitDateString</b><br />
                <font color="green">@(row.TypeName)</font>,
                <font color="broun">@row.CustomerName</font><br>
                <font color="blue">@row.AllVisitors</font>
            </td>
            <td>
                @* Найти символ перевода строки и заменить его на <br> *@
                @foreach (var completedJob in row.CompletedJobs)
                {
                    @* Отображать или не отображать время *@
                    @if (!row.WithoutTime)
                    {
                        <font color="Broun">[@(string.Format("{0:hh\\:mm}", completedJob.TimeFrom))-@(string.Format("{0:hh\\:mm}", completedJob.TimeTill))]</font>
                    }

                    <font color="MediumBlue">@(completedJob.TaskName):</font>
                    @Html.Raw(Html.Encode(completedJob.Comment).Replace("&#xA;", "<br>")); <br>               
                }
            </td>
        </tr>
        tmpVisitDate = row.VisitDate;
    }
}