﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

hr {
    border: 0;
    height: 1px;
    background: #FF8C00;
    background-image: -webkit-linear-gradient(left, #fff, #FF8C00, #fff);
    background-image: -moz-linear-gradient(left, #fff, #FF8C00, #fff);
    background-image: -ms-linear-gradient(left, #fff, #FF8C00, #fff);
    background-image: -o-linear-gradient(left, #fff, #FF8C00, #fff);
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn {
    font-family: 'Comic Sans MS'
}


    .btn.dropdown-toggle {
        font-family: unset;
        padding-left: 3px;
        padding-right: 3px;
        background-color: white;
        min-width: 135px;
    }

        .btn.dropdown-toggle:not(.with-val) {
            border-color: #eeeeee;
        }

.bootstrap-select .filter-option {
    white-space: normal;
}

nav.navbar {
    background-color: #FFE4B5;
    border-bottom: 1px solid BurlyWood;
    border-top: 1px solid BurlyWood;
}

.with-val {
    border-width: 1.4px;
    border-top-color: #66bb6a;
    border-left-color: #81c784;
    border-right-color: #43a047;
    border-bottom-color: #2e7d32;
    margin-right: 1px;
    margin-left: 1px;
}



input:not(.with-val),
select:not(.with-val),
textarea:not(.with-val) {
    border-color: #eeeeee;
}

.input-sf {
    min-width: 155px;
    width: 155px;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
}


body {
    padding-top: 0px;
    padding-bottom: 20px;
    line-height: 1.2;
    font-family: Helvetica;
}




/* ==================================================== */
/* CSS for IndexSupport modal form (from IndexDoneWork) */
/* ==================================================== */
td.delRow {
    background: url('../images/delete.png') no-repeat center center cornsilk;
}

tr.shown td.details-control {
    background: url('../images/details-open.png') no-repeat center center cornsilk;
}


td.details-control {
    background: url('../images/details-close.png') no-repeat center center cornsilk;
    cursor: pointer;
    width: 30px;
}


.dt-button.btn-open-all {
    background: url('../images/details-open.png') no-repeat center center cornsilk;
    background-size: auto 85%;
    color: Gainsboro;
    width: 50px;
    left: 50px;
}


.dt-button.btn-close-all {
    background: url('../images/details-close.png') no-repeat center center cornsilk;
    background-size: auto 85%;
    color: Gainsboro;
    width: 50px;
    left: 50px;
}


.btn.clr-selected {
    background: url('../images/clear-fire.svg') no-repeat center center;
}
/* ==================================================== */





/* Alignment of Form blocks */
.input-block {
    float: left;
    margin: 0 7px 7px 0;
    vertical-align: middle;
    width: auto;
}

.input-lable {
    float: left;
    width: 100px;
    height: 34px;
    margin: 0 7px 0px 0;
    padding: 5px 0 0 0;
    text-align: right;
    font-weight: 500;
    font-family: Comic Sans Ms;
}

    .input-lable > label {
        width: 100px;
        text-align: right;
    }


.input-lable-sm {
    width: 50px;
}

    .input-lable-sm > label {
        width: 50px;
        text-align: right;
    }



/* =============================================================================================== */
/* For  What's new */
/* =============================================================================================== */
a.release {
    font-size: x-large;
    text-align: left;
    margin-bottom: 10px;
}

/* Добавить пиктограмму [+] - новое */
li[class^='rel-fix']::before {
    display: inline-block;
    padding: 0px 0px 2px;
    width: 23px;
    font-weight: 900;
    text-align: center;
    border-radius: 4px;
    font-family: 'Comic Sans MS';
    margin: 1px 0px;
}

li.rel-fix-new::before {
    color: white;
    background-color: #5bc0de;
    border: 1px solid #5bc0de;
    content: "+";
}

/* Добавить пиктограмму [x] - исправлено */
li.rel-fix-err::before {
    color: white;
    background-color: #d9534f;
    border: 1px solid #d9534f;
    content: "x";
}

/* Добавить пиктограмму [-] - упразднено */
li.rel-fix-rem::before {
    color: white;
    background-color: #f0ad4e;
    border: 1px solid #f0ad4e;
    content: "-";
}






/* Добавить пиктограмму давности: менее 31 дня */
/* span[class^='rel-fix-age'] - span у которых имя класса начинается на: rel-fix-age  */
span[class^='rel-fix-age']::before {
    display: inline-block;
    padding: 0px 0px 2px;
    width: 23px;
    font-weight: 900;
    text-align: center;
    border-radius: 4px;
    font-family: 'Comic Sans MS';
    margin: 1px 0px;
}

/* Hint of element "rel-fix-age" */
span[class^='rel-fix-age']:hover::after {
    position: absolute; /* Абсолютное позиционирование */
    /* left: 20px; */
    /* top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid grey; /* Параметры рамки */
}

/* Добавить пиктограмму давности: менее 31 дней */
span.rel-fix-age31::before {
    color: lightgray;
    background-color: GhostWhite;
    border: 1px solid Lavender;
    content: "\266B";
}

span.rel-fix-age31:hover::after {
    content: 'давность: 16-31 дней';
}

/* Добавить пиктограмму давности: менее 15 дней */
span.rel-fix-age15::before {
    color: #7B68EE;
    background-color: Lavender;
    border: 1px solid #7B68EE;
    content: "\266B";
}

span.rel-fix-age15:hover::after {
    content: 'давность: 8-15 дней';
}

/* Добавить пиктограмму давности: менее 7 дней */
span.rel-fix-age7::before {
    color: white;
    background-color: DodgerBlue;
    border: 1px solid RoyalBlue;
    content: "\266B";
}

span.rel-fix-age7:hover::after {
    content: 'давность: 4-7 дней';
}

/* Добавить пиктограмму давности: менее 3 дней */
span.rel-fix-age3::before {
    color: white;
    background-color: Orange;
    border: 1px solid DarkOrange;
    content: "\266B";
}

span.rel-fix-age3:hover::after {
    content: 'давность: 0-3 дня';
}

/*
   li[class^='rel-fix'] a::before {
    content: "#"attr(href);
  } 

    */
/* =============================================================================================== */





/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

fbo
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
